   .cart-btn,
.view-detail {
  opacity: 0;
  transition: all 0.3s ease;
  visibility: hidden;
}
.card-container:hover .cart-btn,
.card-container:hover .view-detail {
  opacity: 1;
  visibility: visible;
}

.image-contianer, .free-shipping-container, .secure-payment-container, .money-back-container, .online-support-container, .new-arrival, .best-selling, .top-rated {
  cursor: pointer;
}
.front-image, .back-image{
  height: 250px !important; 
  object-fit: cover;
}

.image-contianer:hover .front-image {
  display: none;
}

.image-contianer:hover .back-image {
  display: block !important;
}




























 